<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.dict.mapper.DictWishMapper">
    <resultMap id="dictWishMap" type="com.kb.dict.dto.DictWish">
        <id property="dwno" column="dwno"/>
        <result property="uno" column="uno"/>
        <result property="dino" column="dino"/>
        <result property="memo" column="memo"/>
        <result property="dictOrder" column="dict_order"/>
        <result property="createdAt" column="createdAt"/>
    </resultMap>

    <select id="getWishByDino" resultType="int" parameterType="com.kb.dict.dto.DictWish">
        SELECT
            COUNT(*)
        FROM
            tbl_dict_wish w
        WHERE w.uno = #{uno} and w.dino = #{dino};
    </select>


    <select id="getList" parameterType="long" resultMap="dictWishMap">
        SELECT
            w.dwno, w.uno, w.dino, w.memo, d.word, d.content, w.createdAt, w.dict_order
        FROM
            tbl_dict_wish w
                JOIN
            tbl_dict d ON w.dino = d.dino
        WHERE
            w.uno = #{uno}
        ORDER BY w.dict_order
    </select>

    <insert id="insertWish" parameterType="com.kb.dict.dto.DictWish">
        INSERT INTO tbl_dict_wish (dino,uno, memo, dict_order)
        VALUES (#{dino},#{uno} ,NULL, #{dictOrder});
    </insert>


    <update id="updateWish">
        UPDATE tbl_dict_wish SET
        memo=#{memo},
        createdAt=now()
        where dwno=#{dwno}
    </update>


    <update id="updateStatus" parameterType="com.kb.dict.dto.Dict">
        UPDATE tbl_dict
        SET status = #{status}
        WHERE dino = #{dino}
    </update>

    <update id="updateWishOrder" parameterType="com.kb.dict.dto.DictWishOrder">
        UPDATE tbl_dict_wish SET dict_order = #{newDwno} where dwno = #{dwno};
    </update>


    <delete id="deleteWish" parameterType="com.kb.dict.dto.DictWish">
        DELETE FROM tbl_dict_wish
        WHERE dino = #{dino};
    </delete>

</mapper>