<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.mapper.MemberMapper">
    <resultMap id="memberMap" type="MemberVO">
        <id property="uno" column="uno"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="userName" column="user_name"/>
        <result property="createdAt" column="createdAt"/>
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT m.uno, m.email, m.password, m.user_name, m.createdAt
        FROM tbl_user m
        WHERE m.email = #{email}
    </select>


    <insert id="insert">
        INSERT INTO tbl_user (email, password, user_name, createdAt)
        VALUES (#{email}, #{password}, #{userName}, now())
    </insert>


</mapper>
