<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.finance.mapper.ForexMapper">
    <resultMap id="forexResultMap" type="com.kb.finance.dto.Forex">
        <id property="feno" column="feno" />
        <result property="forexName"  column="forex_name"/>
        <result property="forexBasicRate"  column="forex_basic_rate"/>
        <result property="forexBuy" column="forex_buy"/>
        <result property="forexSell" column="forex_sell"/>
        <result property="imgUrl" column="forex_imgUrl"/>
    </resultMap>

    <resultMap id="forexChartResultMap" type="com.kb.finance.dto.ForexChart">
        <id property="fecno" column="fecno"/>
        <result property="forexName"  column="forex_name"/>
        <result property="feno" column="feno"/>
        <result property="forexBasicRate" column="forex_basic_rate"/>
        <result property="forexDatetime" column="forex_datetime"/>

    </resultMap>

    <insert id="insertForexData" parameterType="com.kb.finance.dto.ForexChart">
        INSERT INTO tbl_forex_chart(forex_basic_rate, forex_datetime, feno) VALUES (#{forexBasicRate}, now(), #{feno})
    </insert>

    <update id="updateForexInfo" parameterType="com.kb.finance.dto.Forex">
        UPDATE tbl_forex
        SET forex_basic_rate = #{forexBasicRate}, forex_buy = #{forexBuy}, forex_sell = #{forexSell}
        WHERE feno = #{feno}
    </update>

    <select id="selectAll" resultMap="forexResultMap">
        SELECT
            *
        FROM tbl_forex
    </select>

    <select id="selectById" resultMap="forexResultMap" parameterType="long">
        SELECT
            *
        FROM
            tbl_forex
        WHERE feno=#{feno}
    </select>

    <select id="selectChartById" resultMap="forexChartResultMap" parameterType="long">
        SELECT
            f.feno, f.forex_name, fc.fecno, fc.forex_basic_rate, fc.forex_datetime
        FROM
            tbl_forex f
        JOIN tbl_forex_chart fc ON f.feno=fc.feno
        WHERE fc.feno=#{feno}
        ORDER BY fc.forex_datetime
    </select>

</mapper>