<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.finance.mapper.StockMapper">
    <resultMap id="stockResultMap" type="com.kb.finance.dto.Stock">
        <id property="sno" column="sno" />
        <result property="stockSymbol"  column="stock_symbol"/>
        <result property="stockName"  column="stock_name"/>
        <result property="stockPrice" column="stock_price"/>
        <result property="priceChangeRate" column="price_change_rate"/>
        <result property="stockVolume" column="stock_volume"/>
        <result property="stockSales" column="stock_sales"/>
        <result property="stockProfit" column="stock_profit"/>
        <result property="stockIncome" column="stock_income"/>
        <result property="imgUrl" column="stock_imgUrl"/>
    </resultMap>

    <resultMap id="stockChartResultMap" type="com.kb.finance.dto.StockChart">
        <result property="sno"  column="sno"/>
        <result property="stockDatetime"  column="stock_datetime"/>
        <result property="stockPrice"  column="stock_price"/>
    </resultMap>

    <resultMap id="communityResultMap" type="com.kb.finance.dto.Community">
        <id property="bno" column="bno" />
        <result property="sno" column="sno"/>
        <result property="name" column="user_name"/>
        <result property="content" column="content"/>
        <result property="likes" column="likes"/>
        <result property="isLiked" column="isLiked"/>
        <result property="updatedAt" column="updatedAt"/>
    </resultMap>

    <resultMap id="communityDTOResultMap" type="com.kb.finance.dto.CommunityDTO">
        <result property="uno" column="uno"/>
        <result property="sno" column="sno"/>
        <result property="content" column="content"/>
    </resultMap>

    <select id="selectAll" resultMap="stockResultMap" parameterType="map">
        SELECT
        *
        FROM tbl_stock
        <choose>
            <when test="sort == 'volume'">
                ORDER BY stock_volume DESC
            </when>
            <when test="sort == 'ascending'">
                ORDER BY price_change_rate ASC
            </when>
            <when test="sort == 'descending'">
                ORDER BY price_change_rate DESC
            </when>
            <otherwise>
                ORDER BY stock_volume DESC  <!-- 기본 정렬 방식 -->
            </otherwise>
        </choose>
    </select>

    <select id="selectById" resultMap="stockResultMap" parameterType="long">
        SELECT
            *
        FROM
            tbl_stock
        WHERE sno=#{sno}
    </select>

    <select id="selectChart" resultMap="stockChartResultMap" parameterType="long">
        SELECT
            *
        FROM
            tbl_stock_chart
        WHERE sno=#{sno}
        ORDER BY stock_datetime DESC

    </select>

    <select id="selectMinMax" resultType="int" parameterType="long">
        SELECT MIN(stock_price), MAX(stock_price)
        FROM
            tbl_stock_chart
        WHERE sno=#{sno}
    </select>


    <select id="selectCommunity" resultMap="communityResultMap">
        SELECT
            c.bno,
            c.sno,
            tu.user_name,
            COUNT(cl.uno) as likes,
            CASE WHEN #{uno} IN (SELECT uno FROM tbl_community_like WHERE bno = c.bno) THEN 1 ELSE 0 END AS isLiked,
            c.content,
            c.updatedAt
        FROM
            tbl_community c
        LEFT JOIN
            tbl_community_like cl ON c.bno=cl.bno
        LEFT JOIN tbl_user tu on tu.uno = c.uno
        WHERE
            c.sno=#{sno}
        GROUP BY
            c.bno,
            c.sno,
            c.content,
            c.updatedAt
        <choose>
            <when test="sort == 'like'">
                ORDER BY likes DESC
            </when>
            <otherwise>
                ORDER BY c.updatedAt DESC
            </otherwise>
        </choose>

    </select>

    <select id="findLike" resultType="int" parameterType="com.kb.finance.dto.Like">
        SELECT COUNT(*) FROM tbl_community_like
        WHERE bno = #{bno} AND uno = #{uno}
    </select>

    <insert id="insertStockChart" parameterType="com.kb.finance.dto.StockChart">
        INSERT INTO tbl_stock(sno, stock_datetime, stock_price)
        VALUES(#{sno}, #{stock_datetime}, #{stock_price})
    </insert>

    <insert id="insertCommunity"  parameterType="com.kb.finance.dto.CommunityDTO">
        INSERT INTO tbl_community(uno, sno, content)
        VALUES(#{uno}, #{sno}, #{content})
    </insert>


    <insert id="insertLike" parameterType="com.kb.finance.dto.Like">
        INSERT INTO tbl_community_like(bno, uno)
        VALUES (#{bno}, #{uno})
    </insert>

    <update id="updateCommunity" parameterType="com.kb.finance.dto.CommunityDTO">
        UPDATE tbl_community SET content=#{content} WHERE bno=#{bno} AND uno=#{uno}
    </update>

    <delete id="deleteLike" parameterType="com.kb.finance.dto.Like">
        DELETE FROM tbl_community_like WHERE bno = #{bno} AND uno = #{uno}
    </delete>

    <delete id="deleteCommunity" parameterType="com.kb.finance.dto.CommunityDTO">
       DELETE FROM tbl_community WHERE bno=#{bno} AND uno=#{uno}
    </delete>

</mapper>