<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="security.account.mapper.UserDetailsMapper">
    <resultMap id="authMap" type="AuthVO">
        <result property="userName" column="user_name"/>
    </resultMap>

    <resultMap id="memberMap" type="MemberVO">
        <id property="uno" column="uno"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="userName" column="user_name"/>
        <result property="createAt" column="createAt"/>
        <collection property="authList" resultMap="authMap"/>
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT m.uno, m.email, m.password, m.user_name, m.createAt
        FROM tbl_member m
        WHERE m.email = #{email}
    </select>
</mapper>
