<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.search.mapper.SearchMapper">

    <resultMap id="keywordResultMap"  type="com.kb.search.dto.Keyword">
        <id property="keno" column="keno" />
        <result property="uno" column="uno" />
        <result property="keyword" column="keyword" />
    </resultMap>

    <select id="selectKeywordByKeno" resultMap="keywordResultMap">
        SELECT * FROM tbl_keyword WHERE keno = #{keno}
    </select>

    <select id="selectKeywordList" resultMap="keywordResultMap">
        SELECT * FROM tbl_keyword
        WHERE uno = #{uno}
        ORDER BY keno DESC
        LIMIT 3;
    </select>

    <insert id="insertKeyword" parameterType="com.kb.search.dto.Keyword">
        <selectKey keyProperty="keno" resultType="long" order="AFTER">
            SELECT @@identity as keno
        </selectKey>
        INSERT INTO tbl_keyword(keno, uno, keyword)
        VALUES (default, #{uno}, #{keyword})
    </insert>

    <delete id="deleteKeyword" parameterType="long">
        DELETE FROM tbl_keyword WHERE keno = #{keno}
    </delete>

</mapper>